<!-- Footer -->
<footer class="bg-teal-500 text-white py-5 mt-auto">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row justify-between">
      <div class="text-center md:text-left">
        <p class="text-xl font-semibold">Online Learning Platform</p>
        <p class="mt-2">© 2024 Online Learning Platform. All rights reserved By Srijith</p>
      </div>

      <div class="mt-6 md:mt-0 flex justify-center md:justify-end space-x-6 pt-4">
        <a href="#" class="text-white hover:bg-teal-600 px-3 py-2 rounded-md text-sm">Terms of Service</a>
        <a href="#" class="text-white hover:bg-teal-600 px-3 py-2 rounded-md text-sm">Privacy Policy</a>
        <a href="#" class="text-white hover:bg-teal-600 px-3 py-2 rounded-md text-sm">Contact Us</a>
      </div>
    </div>
  </div>
</footer>
